@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
  margin: 0;
  font-family: "bodyfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "bodyfont";
}

@font-face {
  font-family: "bodyfont";
  src: url("./assets/fonts/ESBuildTRIAL-Semibold.ttf");
}